.section-container {
    background-image:linear-gradient(
        90deg,
        #181818 0%,
        rgba(24, 24, 24, 0.822917) 24.48%,
        rgba(24, 24, 24, 0) 100%
      ),url(./images/header-img.png);
 
  width: full;
  height: 754px;
  width: 1440px;
  margin: 0 auto;
  background-repeat: no-repeat;
}
.container {
  margin-top: 20px;
}
.navbar-brand {
  font-weight: 700;
  font-size: 27px !important;
  line-height: 52px;
  color: #ffffff !important;
}
.nav-link {
  font-size: 17px;
  font-weight: 500;
  color: #ffffff !important;
  line-height: 24px;
  margin-right: 15px !important;
}
.btn-outline-success{
    background-color: #E76F51 !important;
    color: #ffffff !important;
    border: 1px solid #E76F51 !important;
    border-radius: 0px !important;

}
